<ion-view class="stable-bg drugExpense" ng-init="initRecruits();">
    <ion-header-bar align-title="center" class="bar-calm item-input-inset">
        <label class="de_seInput item-input-wrapper">
                <i class="icon ion-ios-search-strong super-text"></i>
            <input type="text" id="recruit_Search" ng-keyup="recruitKeyUp($event);" 
                class="light" placeholder="请输入职位或单位名称" ng-model="keyWord" ng-change="inputChange();">
            <i ng-show="recruitKey" on-tap="clearKey($event);" class="icon ion-close-circled super-text"></i>
        </label>
        <!--<button ng-click="btnAction($event);" ng-bind="!isSearch?'搜索':'取消'" class="button-clear light"></button>-->
        <button ng-click="goBack();" class="button-clear light">取消</button>
    </ion-header-bar>
    
    <!--搜索历史-->
    <ion-subheader ng-show="!isSearch">
            <div class="stable-bg list_title">搜索历史</div>
    </ion-subheader>

    <ion-content overflow-scroll="true" class="noscroll de_search" ng-show="!isSearch">
            <div class="hisBox">
                <ion-list>
                    <div class="text-center normal-text emptyMsg" ng-show="!storeHistory.length">暂无历史搜索记录</div>
                    <ion-item ng-repeat="item in storeHistory | orderBy:'-id'" 
                        ng-bind="item.drugName" ng-click="goSearch(item);"></ion-item>
                    <div class="text-center" ng-show="storeHistory.length">
                        <button class="button button-clear icon-left ion-trash-a normal-text de_clearBtn" ng-click="clearHistory();">清除历史搜索记录</button>
                    </div>
                </ion-list>
            </div>
    </ion-content>
    
    <!--搜索结果列表-->
    <ion-subheader ng-show="isSearch">
            <div class="stable-bg list_title">搜索结果</div>
    </ion-subheader>
    
    </ion-content>

    <ion-content overflow-scroll="true" class="noscroll de_result" ng-show="isSearch">
            <ion-scroll delegate-handle="rec_scroll" class="rec-scroll">
            <ion-list class="rec-list">
                <!--href="#/app/recruit/{{item.recruitID}}"-->
                <ion-item class="rec-item" ng-repeat="item in recruits track by $index" ng-click="jumpToDetail(item)">
                    <div class="rec-item-title">
                        <span class="left">{{ item.position }}</span><span class="right">{{ item.salary }}/月</span>
                    </div>
                    
                    <div class="rec-item-sub">
                        {{ item.companyName.length > 15 ? item.companyName.substr(0, 15) + '...' : item.companyName }}
                    </div>
                    
                    <div class="rec-pos">
                        <i class="i-pos"></i><span>{{ item.companyAddr }}</span>
                    </div>
                </ion-item>

            </ion-list>
            <!-- 底部分页 -->
            <ion-infinite-scroll 
                ng-if="scrollFlag" 
                on-infinite="onScrollHandler(pageNo + 1)" 
                distance="20%" >
            </ion-infinite-scroll>
        </ion-scroll>
    </ion-content>
</ion-view>