<ion-view class="bg-light">

    <ion-header-bar align-title="center" class="bar-calm">
        <div class="title">仅供测试</div>
    </ion-header-bar>

    <ion-content>
    <br/>
        <div align="center" ng-click="getMessage()">点击可以拿到后台消息哦</div>

        <div>
          <div ng-bind="testData.title"></div>
          <div ng-bind="testData.address"></div>
          <div ng-bind="testData.dateTime"></div>
          <div ng-bind="testData.content"></div>
        </div>
    </ion-content>

</ion-view>