<ion-view class="stable-bg stuInsArticle">
    <ion-header-bar align-title="center" class="bar-calm">
        <button class="button button-icon ion-ios-arrow-back" ng-click="goBack();"></button>
        <h1 class="title super-text">条款细则</h1>
    </ion-header-bar>
    <ion-content class="has-header">
    		<div id="isb_article">
			<div id="isb_article_header" class="super-text">
				<div class="isb_article_title">绍兴市本级学生基本医疗</div>
				<div class="isb_article_title">保险须知</div>
				<div class="isb_article_date normal-text">2016年度</div>
			</div>
			<div class="isb_article_p normal-text">
				<div class="isb_article_childTitle large-text">一、保险基本内容</div>
				<p><span class="isb_article_bold">（一）参保对象：</span>越城区及市直开发区（以下简称市本级）幼儿园、学校（含小学、中学、职技学校、大专院校）在册的儿童、学生。</p>
				<p><span class="isb_article_bold">（二）缴费标准：</span>个人缴纳100元；新生首次参保的，个人缴纳150元。市本级各类全日制普通高等学校（包括民办学校）当年毕业班学生也可根据本人意愿，缴纳半年50元费用<span class="isb_article_bold">（绍兴市户籍的在绍高校毕业生建议按全年标准缴费）</span>。</p>
				<p><span class="isb_article_bold">（三）缴费时间：</span>2015年9月1日至10月31日。</p>
				<p><span class="isb_article_bold">（四）保险期限：</span>2016年1月1日至2016年12月31日；首次参保新生为2015年9月1日至2016年12月31日；高校毕业生缴纳半年费用的医保待遇享受期为2016年1月1日至6月30日。</p>
				<p><span class="isb_article_bold">（五）保险待遇</span><br>
					<span class="isb_article_bold">1. 住院医疗待遇</span><br>
					最高支付限额 <span class="isb_article_bold">20 万元</span><br>
					一个医保年度内累计，住院医疗费用分段支付比例：<br>
					<span class="isb_article_bold">起付标准</span>以上至6万元（含）<br>
					基层医疗机构 85%，其他定点机构 80%<br>
					6万元以上至<span class="isb_article_bold">20万元（含）</span><br>
					基层医疗机构 95%，其他定点机构 90%
				</p>
				<p>
					<span class="isb_article_bold">2. 门诊医疗待遇</span><br>
					<span>（1）普通门诊</span> 一个医保年度内，参保人员在基层医疗卫生机构普通门诊医疗发生的政策范围内费用报销50%。一个医保年度内，参保人员普通门诊起付标准 50 元，普通门诊的累计净报销限额为500元。<br>
					<span>（2）特殊病种门诊</span> 特殊病种经市本级定点医疗机构审批备案后，合规医疗费用按住院医疗费用的相应报销比例报销，一个医保年度内，参保人员住院和特殊病种门诊累计最高支付限额为20万元；年度起付标准为400元。
				</p>
				<p>
					<span class="isb_article_bold">3. 免费健康体检</span><br>
					参加市本级学生基本医疗保险的在学校、幼儿园学生儿童，可享受每二年一次的<span class="isb_article_bold">免费健康体检</span>，具体根据省、市有关文件由教育部门组织实施。
				</p>
				<p>
					<span class="isb_article_bold">4. 意外伤害补充保险</span><br>
					市本级学校、幼儿园在册学生、儿童，因遭受<span class="isb_article_bold">外来的、突发的、非疾病、非本意客观事件引起</span>的身体伤害，可享受校园学生、儿童意外伤害保险。意外伤害保险实行社会化运作。
				</p>
				<p>保险期限：2016年1月1日至2016年12月31日</p>
				<p>
					保险责任：意外伤害身故保险金<br>
					保险金额：50000元<br>
					免赔额：无	<br>
					赔付比例：100%
				</p>
				<p>
					保险责任：意外伤害残疾保险金<br>
					保险金额：10000元<br>
					免赔额：无	<br>
					赔付比例：按中国人民银行核准颁布的“残疾程度与给付比例表”所列残疾程度比例给付
				</p>	
				<p>
					保险责任：意外伤害门诊医疗保险金<br>
					保险金额：20000元<br>
					免赔额：50元<br>
					赔付比例：事故发生之日起180内实际支出的合规医疗费用按80%比例支出
				</p>
				<p>
					<span class="isb_article_bold">5. 大病医疗保险</span><br>
					一个医保年度内，参保人员住院和特殊病种门诊的医疗费用，按规定报销后，其个人累计负担的合规医疗费用超过2.45万元的，享受居民大病保险待遇，补助比例为 55%。<br>
					<span class="isb_article_bold">自2015年1月1日起，“格列卫”等15种药品（以下简称特殊药品）纳入大病医疗保险。一个医保年度内，参保人员使用特殊药品累计发生的总医疗费用，大病保险补助起付标准为2万元，最高限额为30万元，起付标准以上、最高限额以下的医疗费用，补助50%。一个医保年度内，参保人员使用特殊药品累计发生的总医疗费用在2万元（含）以下的，其8千元以上部分，补助50%；累计发生的总医疗费用在2万元以上的，最低补助6千元。</span>
				</p>
				<p>
					<span class="isb_article_bold">温馨提示：</span><br>
					（1）绍兴市户籍的在绍高校毕业生，如选择半年度缴费的，则享受期满后在同一年度内无法再参加绍兴市城乡居民基本医疗保险。请慎重选择。<br>
					（2）参保对象在缴费期过后要求参保的，其费用仍按全年标准缴纳，医疗保障待遇从缴费次月起的<span class="isb_article_bold">三个月后</span>享受。<br>
					（3）就诊医院：市人力社保部门定点或认可的医疗机构。<br>
					（4）请妥善保管就诊医疗<span class="isb_article_bold">原始发票</span>。参保人员已享受异地医保待遇的，按政策规定对剩余部分进行结算补偿，并以保障额度为限。<br>
					（5）转市外医疗机构就医须按政策要求经市本级定点医疗机构或市社会保险事业管理局核准。治疗产生的符合学生基本医疗保险资金支付范围的费用，先由个人按比例自理转院费用后，再按规定比例结算。<br>
					（6）住院和特殊病种门诊发生的医疗费用，未及时刷卡报销的，需在次年的6月30日前，凭医疗发票及其他有效证明材料到市社会保险事业管理局报销；<span class="isb_article_bold isb_article_underline">普通门诊医疗费用，在就医时即时刷卡报销，不凭医疗发票报销。</span>
				</p>
			</div>
			<div class="isb_article_p normal-text">
				<div class="isb_article_childTitle large-text">二、服务与咨询</div>
				<p>
					<span class="isb_article_bold">绍兴市社会保险事业管理局</span><br>
					绍兴市镜湖新区曲屯路368号<br>
					电话：12333（周一～周五，法定节假日除外）
				</p>
				<p>
					<span class="isb_article_bold">平安养老保险股份有限公司绍兴中心支公司</span><br>
					迪荡新城梅龙湖路80号财智大厦一楼<br>
					电话：85207047（周一～周五，法定节假日除外）
				</p>
			</div>
		</div>
  	</ion-content>
</ion-view>