<ion-view class="stuInsIndex">
    <ion-header-bar align-title="center" class="bar-calm">
        <button class="button button-icon ion-ios-arrow-back" ng-click="backToHome();"></button>
        <h1 class="title super-text">城乡居民(学生)保单查询</h1>
    </ion-header-bar>
    <ion-content class="has-header stable-bg text-center noscroll" overflow-scroll="true">
        <div class="insItem light-bg" ui-sref="app.stuInsParent">
            <img src="images/icon_fkr.png">
            <div class="large-text calm">按付款人查询</div>
        </div>
        <div class="insItem light-bg" ui-sref="app.stuInsChild">
            <img src="images/icon_cbr.png">
            <div class="large-text calm">按参保人查询</div>
        </div>
	</ion-content>
</ion-view>